.ms-bg-darkblue{
    background-color: #2C3E50;
}

.navbar-collapse {
    flex-grow: 0;
}

.ms-bg-green{
    background-color: #1ABC9C;
}

.ms-line{
    width: 70px;
    display: inline-block;
    height: 4px;
    background-color: white;
    vertical-align: middle;
}

.ms-line2{
    width: 70px;
    display: inline-block;
    height: 4px;
    background-color: black;
    vertical-align: middle;
}

.ms-avatar-img{
    width: 250px;
}

.fa-star{
    font-size: 1.4rem;
}

.ms-sect2-img{
    width: 100%;
}

